:root {
	--spacing: 40px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-width: 1920px;
	min-height: 1080px;
	max-width: 1920px;
	max-height: 1080px;
	overflow: hidden;
	font-family: interstate, sans-serif;
}

body {
	background: #002f87;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 450px;
	grid-template-areas: "framea framec side" "frameb framed side";
	padding: var(--spacing);
	grid-gap: var(--spacing);
}

.frame {
	box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.25);
}

.side {
	color: #fff;
}

.frame.a {
	grid-area: framea;
}

.frame.b {
	grid-area: frameb;
}

.frame.c {
	grid-area: framec;
}

.frame.d {
	grid-area: framed;
}

.side {
	grid-area: side;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: var(--spacing);
}

.time,
.weather {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 300px;
	margin-top: var(--spacing);
}

.time {
	grid-area: time;
	text-align: center;
	border-bottom: 8px solid #0071ce;
	padding-top: var(--spacing);
}

.weather {
	grid-area: weather;
	text-align: center;
	padding-bottom: var(--spacing);
	margin-bottom: var(--spacing);
}

.time-time,
.time-ampm,
.temp,
.forecast {
	margin: 0;
	line-height: 1;
}

.time-time,
.temp {
	font-size: 120px;
	font-weight: 900;
}

.time-ampm,
.forecast,
.deg {
	font-size: 100px;
	font-weight: 700;
}
