@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  width:160rem;
  height:120rem;
}

html {
  font-size:10px;
  background:#fff;
}
body {
  font-size:160%;
  overflow:hidden;
  background:rgba(52, 152, 219, 0.1);
}

iframe, .bottom {
  margin:6rem 0 0 4rem;
  float:left;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
  -moz-filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
  filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
}

.top-frame {
  float:left;
}

.bottom-frame, .bottom {
  margin-top:4.5rem;
}

.bottom-frame {
  height:46.5rem;
  clear:left;
}

.bottom {
  width:74rem;
  height:42.8rem;
  background:#fff;
  float:left;
  border-radius:0.5rem;
  font-family: 'Open Sans', sans-serif;
  color:#333;
  text-align:center;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
  -moz-filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
  filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
}

p {
  margin:0;
  text-align:center;
  line-height:1;
}

.time {
  font-weight:300;
  margin-top:5rem;
  font-size:9rem;
}

.weather {
  margin-top:2.6rem;
  font-weight:800;
}

 .weather > span {
   display: block;
 }

.temp {
  font-size:12rem;
}

.forcast {
  font-size:6rem;
  font-weight:300;
  margin-top:1.2rem;
}
