@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 160rem;
    min-height: 120rem;
    max-width: 160rem;
    max-height: 120rem;
    overflow: hidden;
}

html {
    font-size: 10px;
    background: #fff;
}

body {
    font-size: 160%;
    background: rgba(52, 152, 219, 0.1);
}

.frame,
.bottom {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
    -moz-filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
    filter: drop-shadow(2px 2px 4px rgba(51, 51, 51, 0.4));
}

.frame-container {
    display: flex;
    flex-flow: row wrap;
}

.frame {
    flex: 0 0 auto;
    margin: 2rem 0 0 4rem;
}

.bottom {
    margin: 4rem 4rem 0 4rem;
    height: 35.6rem;
    background: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.bottom .time,
.bottom .weather {
    display: inline-block;
}

.bottom p {
    line-height: 1;
    margin: 0;
    display: inline-block;
}

.time {
    text-align: right;
    margin: 2rem 4rem 2rem 2rem;
    padding: 0 4rem 0 0;
    width: 80rem;
    border-right: 3px solid rgba(51, 51, 51, 0.4);
}

.time p {
    flex: 1 1 auto;
    font-weight: 300;
    font-size: 12rem;
    margin-bottom: 1rem;
    line-height: 30.6rem;
}

.time,
.weather {
    float: left;
}

.weather p {
    margin-top: 2.6rem;
    font-weight: 800;
    display: block;
}

.weather p>span {
    display: inline-block;
}

.weather .temp {
    font-size: 18rem;
    margin-top: 3.4rem;
}

.weather .forcast {
    font-size: 8rem;
    font-weight: 300;
    margin-top: 1rem;
}